@model IEnumerable<HootPin.Models.Hoot>

@{
    ViewBag.Title = "Attend";
}

<h2>Hoots I'm Attending</h2>

<ul class="hoots voffset4">
    @foreach (var hoot in Model)
    {
        <li>
            <div class="date">
                <div class="month">@hoot.DateTime.ToString("MMM")</div>
                <div class="day">@hoot.DateTime.ToString("d ")</div>
            </div>
            <div class="details">
                <span class="artist">
                    @hoot.Artist.Name
                    <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@hoot.ArtistId">Follow</button>
                </span>
                <span class="genre">
                    @hoot.Genre.Name
                </span>
                <button data-hoot-id="@hoot.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going ?</button>
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { hootId: button.attr("data-hoot-id") })
                    .done(function () {
                        button.removeClass("btn-default").addClass("btn-info").text("Going");
                    })
                    .fail(function () {
                        alert("Something Failed!");
                    });
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something Failed!");
                    });
            });
        });
    </script>
}
