@model HootPin.ViewModels.HootDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>
    @Model.Hoot.Artist.Name
    @if (User.Identity.IsAuthenticated)
     {
        if (Model.IsFollowing)
        {
            <button class="btn btn-info js-toggle-follow" data-user-id="@Model.Hoot.ArtistId">Following</button>
        }
        else
        {
            <button class="btn btn-default js-toggle-follow" data-user-id="@Model.Hoot.ArtistId">Follow</button>
        }
     }
</h2>

<p>Performing at @Model.Hoot.Venue on @Model.Hoot.DateTime.ToString("d MMM") at @Model.Hoot.DateTime.ToString("HH:mm")</p>

<p>Number of attendees: @Model.Hoot.Attendances.Count </p>

@if (User.Identity.IsAuthenticated && Model.IsAttending)
 {
    <p>You are going to this event. </p>
 }

@section scripts  {
    <script>
        $(document).ready(function () {
            HootDetailsController.init();
        });
    </script>
}

