@model IEnumerable<HootPin.Models.Hoot>

@{
    ViewBag.Title = "Mine";
}
<h2>My Upcoming Hoots</h2>
<ul id="hoots" class="hoots voffset4">
    @foreach (var hoot in Model)
    {
        <li>
            <div class="date">
                <div class="month">@hoot.DateTime.ToString("MMM")</div>
                <div class="day">@hoot.DateTime.ToString("d ")</div>
            </div>

            <div class="details">
                <span class="artist">
                    @hoot.Venue
                </span>
                <span class="genre">
                    @hoot.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Hoots", new {id = hoot.Id})">Edit</a>
                    <a href="#" class="js-cancel-hoot" data-hoot-id="@hoot.Id">Cancel</a>
                </div>
            </div>
        </li>
    }
</ul>

@section scripts{
    <script>
        $(document).ready(function () {
            MyHootsController.init("#hoots");
        });
    </script>
}